h1{color: silver; background-color:darkslategrey; font-family:Impact;text-align: center;}
body {background-color: olive; }
head{text-align: center;}
a{color: darkseagreen;}
p{font-family:Tahoma;}
li{color: green;font-family:helvetica;font-size:300%}