h1{color: darkorchid; background-color:cornflowerblue; font-family:Impact;text-align: center;}
body {background-color: linen; }
head{text-align: center;}
a{color: darkslateblue}
p{font-family:Helvetica;}
li{color: green;font-family:helvetica;font-size:150%}